.section {
	text-align: center;
	/*font: 50px "Microsoft Yahei";*/
	/*color: #fff;*/
}

#menu {	
	margin: 0;
	padding: 0;
	position: fixed;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	list-style-type: none;
	z-index: 70;
}

#menu li {
	width: 14px;
	height: 14px;
	margin: 8px 20px;
	cursor: pointer;
	position: relative;
	
}

#menu a {
	width: 4px;
	height: 4px;
	display: block;
	border-radius: 50%;
	background: #333;
	margin: 50% 0 0 50%;
	float: left;
	transition: .2s;
	transform: translate(-50%,-50%);
}

#menu li span {
	position: absolute;
	top: 50%;
	left: -4.4em;
	transform: translateY(-50%);
	font-size: 12px;
	color: white;
	opacity: 0;
	transition: .3s;
}

#menu li:hover a {
	width: 9px;
	height: 9px;
}

#menu li:hover span {
	opacity: 1;
}

#menu .active a {
	width: 12px;
	height: 12px;
}

.one_1 {
	position: absolute;
	top: 120px;
    left: 0;
}

.bg1 {
	background: url(../img/bg1.jpg) no-repeat top center;
	/*background-size: cover;*/
}

.bg2 {
	background: url(../img/bg2.jpg) no-repeat top center;
	/*background-size: cover;*/
}

.bg3 {
	background: url(../img/bg3.jpg) no-repeat top center;
	/*background-size: cover;*/
}

.bg4 {
	background: url(../img/bg4.jpg) repeat;
}

.bg5 {
	background: url(../img/bg6.jpg) no-repeat top center;
	/*background-size: cover;*/
}

.content_first {
	width: 340px;
	height: 315px;
	background: #049589;
	/*margin: 50% 50%;*/
	margin: 0 auto;
	/*top: 50%;
	transform: translateY(-50%);*/
	position: relative;
	z-index: -1;
	padding-top: 80px;
	/*animation: content_first_rotate .5s 2s linear ;*/
}

.content_first p {
	color: white;
	font-family: "Microsoft Yahei";
}

.content_first p:nth-child(1) {
	line-height: 35px;
}

.content_first p:nth-child(2) {
	line-height: 35px;
}

.content_first p:nth-child(3) {
	width: 100%;
	height: 66px;
	margin: 20px 0 10px 0;
	background: url(../img/ct_1.jpg) no-repeat center;
}

.content_first p:nth-child(4) {
	line-height: 40px;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 50px;
}

.content_first a:nth-child(5) {
	color: white;
	display: block;
	transform: rotate(-90deg);
	/*transform: rotate(90deg);*/
}

.active .content_first {
  /*animation: content_first 1s linear 1s both;*/
	animation-name: content_first,content_first_rotate;
	animation-duration:.7s, .7s; 
	animation-timing-function:ease, linear;
	animation-delay:1s,2.4s;
	animation-iteration-count:1,1;
	animation-fill-mode:forwards, forwards;
}

@keyframes content_first {
	0%{
/*		transform: rotate(0deg);*/
		z-index: -1;
		transform: translate3d(0, -200%, 0);
	}
	20%,
	53%,
	80%,
	100% {
    	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    	transform: translate3d(0, 0, 0);
    	z-index: 1;
  	}	
  	40%,
  	43% {
    	animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    	transform: translate3d(0, -30px, 0);
  	}
  	70% {
    	animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    	transform: translate3d(0, -15px, 0);
  	}
  	90% {
    	transform: translate3d(0, -4px, 0);
  	}  
}

@keyframes content_first_rotate {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.nav {
	width: 235px;
	height: 106px;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	transition: all .5s;
}

.logo {
	width: 214px;
	height: 100%;
	float: left;
}

.logo img {
	display: block;
	padding: 0 35px;
	border-right: 1px solid #d4d4d4;
	position: relative;
	top: 50%; 
	left: 0;
	transform: translate(0,-50%);
}

.top_nav {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 20px;
	display: none;
	/*width: 0;*/
	/*overflow: hidden;*/
}

.top_nav li {
	float: left;
	/*display: none;*/
}

.top_nav li a {
	display: inline-block;
	width: 96px;
	height: 40px;
	/*background: #049589;*/
	background: white;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	margin-right: 12px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
}

.top_nav li:last-child a {
	margin-right: 0;
}

.nav_tip {
	width: 12px;
	height: 100%;
	background: #049589;
	float: right;
}

.nav_tip a {
	color: white;
	position: relative;
	top: 50%;
	left: 50%;
	float: left;
	font-size: 12px;
	display: block;
	/*transform: rotate(90deg);*/
	transform: translate(-50%,-50%) rotate(180deg);
}

.top_nav .active a {
	background: #049589;
	color: white;
}

.footer {
	width: 395px;
	height: 50px;
	position: absolute;
	bottom: 40px;
	right: 0;
}

.footer_left {
	width: 66%;
	height: 100%;
	float: left;
	font-family: "microsoft yahei";
	color: #5A5B5C;
	font-size: 12px;
}

.footer_left p {
	margin: 5px 0;
}

.footer_right {
	width: 34%;
	height: 100%;
	float: left;
}

.footer_right i {
	float: left;
	cursor: pointer;
	font-size: 30px;
	line-height: 1.7;
	margin: 0 0 0 10px;
	position: relative;
	z-index: 3;
}

.footer_right i span {
	position: absolute;
	width: 20px;
	height: 20px;
	background: white;
	top: 30%;
	left: 18%;
	z-index: -1;
}

.footer_right i:hover {
	color: #049589;
}

.content_second {
	width: calc(100% - 160px);
	height: 190px;
	position: relative;
	/*top: 50%;*/
	margin: 0 80px;
	/*transform: translateY(-50%);*/
}

.content_second_left {
	width: 16%;
	height: 100%;
	position: relative;
	float: left;
	/*background: red;*/	
}

.content_second_left p {
	text-align: left;
	font-family: "microsoft yahei";
}

.content_second_left p:nth-child(1) {
	color: white;
	font-size: 14px;
	line-height: 35px;
}

.content_second_left p:nth-child(2) {
	color: white;
	font-size: 14px;
	line-height: 35px;
}

.content_second_left p:nth-child(3) {
	width: 100%;
	height: 2px;
	background: white;
	line-height: 35px;
}

.content_second_left p:nth-child(4) {
	font-size: 22px;
	color: white;
	cursor: pointer;
	line-height: 60px;
	transition: .8s;
}

.content_second_left p:nth-child(4):hover {
	color: #4CEEE1;
	transform: translateX(30px);
}

.content_second_left p:nth-child(5) {
	width: 100%;
	height: 2px;
	background: white;
	line-height: 35px;
}

.content_second_left p:nth-child(6) {
	color: 	#4CEEE1;
	font-size: 14px;
	line-height: 30px;
}

.content_second_right {
	width: calc(84% - 10px);
	height: 100%;
	float: left;
	padding: 0 0 0 10px;
}

.content_second_right div {
	width: calc(20% - 42px);
	height: 100%;
	background: #1C1C1C;
	padding: 0 20px;
	float: left;
	position: relative;
	opacity: 0;
	transition: 1s;
	margin-right: 1px;
}

.content_second_right div p:nth-child(1) {
	width: 85%;
	height: 2px;
	background: #414141;
	margin-top: 35%;
	float: left;
	margin-left: 7.5%;
	position: relative;
	transition: .5s;
}

.content_second_right div p:nth-child(1) span {
	display: block;
	width: 48px;
	height: 48px;
	background: #1C1C1C;
	position: absolute;
	top: -24px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	line-height: 48px;
	font-family: "microsoft yahei";
	font-size: 24px;
	color: #414141;
	font-style: italic;
}

.content_second_right div p:nth-child(2) {
	float: left;
	width: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	color: #414141;
	font-weight: bold;
	transition: .5s;
} 

.content_second_right div p:nth-child(3) {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #999999;
	margin-top: -15px;
	clear: both;
	transition: .5s;
} 

.content_second_right div p:nth-child(4) {
	width: 15%;
	height: 2px;
	float: left;
	margin-left: 42.5%;
	margin-top: 20px;
	background: #414141;
	transition: .5s;
}

.content_second_right div:hover {
	transform: rotateY(360deg);
	background: #049589;
} 

.content_second_right div:hover p:nth-child(1) {
	background: white;
}

.content_second_right div:hover p:nth-child(1) span {
	background: #049589;
	color: white;
}

.content_second_right div:hover p:nth-child(2) {
	color: white;
}

.content_second_right div:hover p:nth-child(3) {
	color: white;
}

.content_second_right div:hover p:nth-child(4) {
	background: white;
}

.active .content_second_left {
	animation:content_second_left 1s ease 0s;
	/*animation-fill-mode:forwards;*/
}

.active .content_second_right div:nth-child(1) {
	animation:content_second_ami 1.5s ease 0s;
	animation-fill-mode:forwards;
}

.active .content_second_right div:nth-child(2) {
	animation:content_second_ami 1s ease .5s;
	animation-fill-mode:forwards;
}

.active .content_second_right div:nth-child(3) {
	animation:content_second_ami 1s ease .9s;
	animation-fill-mode:forwards;
}

.active .content_second_right div:nth-child(4) {
	animation:content_second_ami 1s ease 1s;
	animation-fill-mode:forwards;
}

.active .content_second_right div:nth-child(5) {
	animation:content_second_ami 1s ease 1.2s;
	animation-fill-mode:forwards;
}

/*animation:animation2_index0 1s ease 0s;*/
@keyframes content_second_ami {
	0% { top: -1000px; opacity:0.1; left:1000px;}
	100% { top:0; opacity:1; left:0;}
}

@keyframes content_second_left {
	0% { left: -1000px; opacity:0.1;}
	100% { left:0; opacity:1; }
}

.third_txt {
	width: 520px;
	color: white;
	text-align: left;
	text-indent: 2em;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 1.7;
	margin-left: 25%;
	margin-top: -5%;
}

.content_third_left {
	width: 160px;
	height: 160px;
	position: relative;
	float: right;
	margin-top: -15%;
	margin-right: 18%;
	/*background: red;*/	
}

.content_third_left p {
	text-align: left;
	font-family: "microsoft yahei";
}

.content_third_left p:nth-child(1) {
	color: #4CEEE1;
	font-size: 14px;
	line-height: 35px;
}

.content_third_left p:nth-child(2) {
	color: #4CEEE1;
	font-size: 14px;
	line-height: 35px;
}

.content_third_left p:nth-child(3) {
	width: 100%;
	height: 2px;
	background: white;
	line-height: 35px;
}

.content_third_left p:nth-child(4) {
	font-size: 22px;
	color: white;
	cursor: pointer;
	line-height: 60px;
	transition: .8s;
}

.content_third_left p:nth-child(4):hover {
	color: #4CEEE1;
	transform: translateX(30px);
}

.content_third_left p:nth-child(5) {
	width: 100%;
	height: 2px;
	background: white;
	line-height: 35px;
}

.content_third_left p:nth-child(6) {
	color: 	#4CEEE1;
	font-size: 14px;
	line-height: 30px;
}

.more {
	width: 314px;
	height: 50px;
	border: 1px white solid;
	float: left;
	border-radius: 5px;
	margin-left: 32%;
	text-align: center;
	line-height: 50px;
	text-align: center;
	line-height: 50px;
}
